transformers==5.0.0.dev0
torch>=2.0.0
tensorflow==2.20.0
scikit-learn==1.6.1
Flask==3.0.3
pandas==2.3.3
numpy==1.26.4
python-dotenv==0.21.0
tqdm==4.66.5
huggingface_hub==1.2.3
accelerate==1.12.0
peft==0.18.0
tokenizers==0.22.1
requests==2.32.3
ollama==0.6.2
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
Werkzeug>=3.0.0